@{
    ViewBag.Title = "Author Review";
}

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/GeneralJscripts/TelerikScripts/jquery.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/jszip.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/kendo.all.min.js"></script>

<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet" />
<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.rtl.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.blueopal.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.blueopal.mobile.min.css" rel="stylesheet">
<script src="~/Scripts/diff_match_patch.js"></script>

<style>
    div.k-edit-form-container {
        width: auto;
        height: auto;
    }

    .k-edit-label {
        width: 15% !important;
        text-align: left !important;
    }

    .k-edit-field {
        width: 80% !important;
    }

    ins {
        background-color: #cfc;
        text-decoration: none;
    }



    del {
        color: #999;
        background-color: #FEC8C8;
    }
</style>

<script>

    var wnd, detailsTemplate, Id, Status, Comment, dataWnd, dataTemplate, diffSecWnd, diffActWnd, diffSecTemplate, diffActTemp, template, from;

    $(document).ready(function () {

        var datasource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "ProDoc_Section_Assignment_id",
                    fields: {
                        Section: { type: 'string', editable: false },
                        Template_Content: { type: 'string', editable: true },
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("ProDocSecAssList", "Home")',
                    type: 'post',
					dataType: 'json',
					complete: function (e) {
						console.log(e);
					}
                },
                update: {
                    url: '@Url.Action("UpdateProDocSecAss", "Home")',
                    type: 'post',
                    dataType: 'json',
                    complete: function (e) {
                        alert(e.responseJSON.info);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation != "read") {
                        return { models: options }
                    }
                }
             },
            pageSize: 10
        });

        $("#grid").kendoGrid({
            dataSource: datasource,
            sortable: true,
            pageable: true,
            columns: [
                { field: "Section", title: "Section",width: "300px" },
                { field: "Template_Content", title: "Template Content", encoded: false, editor: SectionEditor },
                { command: ["edit", { name: "Accept", click: AcceptRecord }, { name: "Revert", click: RevertRecord }], width: "100px" },
                { command: [ {name: "View", click: OpenData} ], width: "100px" }
            ],
            editable: "popup"
        });

        var pDataSource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "ProDoc_Template_id",
                    fields: {
                        Action: { type: 'string', editable: false },
                        Template_Content: { type: 'string', editable: true },
                        //Status: { type: 'string', editable: true },
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("ProDocActList", "Home")',
                    type: 'post',
					dataType: 'json',
					complete: function (o) {
						console.log(o);
					}
                },
                update: {
                    url: '@Url.Action("UpdateProDocActAss", "Home")',
                    type: 'post',
					dataType: 'json',
					complete: function (e) {
						alert(e.responseJSON.info);
						reloadPage();
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation != "read") {
                        return { models: options }
                    }
                }
             },
            pageSize: 10
        });

        $("#act-grid").kendoGrid({
            dataSource: pDataSource,
            sortable: true,
            pageable: true,
            columns: [
                { field: "Action", title: "Action", width: "300px"},
                { field: "Template_Content", title: "Template Content",encoded: false, editor: SectionEditor },
                { command: ["edit", { name: "Accept", click: AcceptActRecord }, { name: "Revert", click: RevertActRecord }], width: "100px" },
                { command: [ {name: "View", click: OpenActData} ], width: "100px" }
            ],
            editable: "popup"
        });

    });

    function SectionEditor(container, options) {
            //$('<textarea data-bind="value: ' + options.field + '" rows="4" cols="1000"></textarea>').appendTo(container);
        $('<textarea data-bind="value: ' + options.field + '" style="width: 100%;height:100%;" />').appendTo(container).kendoEditor({
            resizable: { content: true, toolbar: true },
            tools: [
                {
                    name: "fontName",
                    items: [
                        { text: "Andale Mono", value: "Andale Mono" },
                        { text: "Arial", value: "Arial" },
                        { text: "Arial Black", value: "Arial Black" },
                        { text: "Book Antiqua", value: "Book Antiqua" },
                        { text: "Calibri", value: "Calibri" },
                        { text: "Comic Sans MS", value: "Comic Sans MS" },
                        { text: "Courier New", value: "Courier New" },
                        { text: "Georgia", value: "Georgia" },
                        { text: "Helvetica", value: "Helvetica" },
                        { text: "Impact", value: "Impact" },
                        { text: "Symbol", value: "Symbol" },
                        { text: "Tahoma", value: "Tahoma" },
                        { text: "Terminal", value: "Terminal" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Verdana", value: "Verdana" },
                        { text: "Webdings", value: "Webdings" },
                        { text: "Wingdings", value: "Wingdings" }]
                },
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "insertImage",
                "insertFile",
                "subscript",
                "superscript",
                "tableWizard",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "viewHtml",
                "formatting",
                "cleanFormatting",
                "fontSize",
                "foreColor",
                "backColor",
                "print"
            ]
        });
	};

	function reloadPage() {
		window.location.reload();
	}

	// window for sections view data
    function OpenData(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

		from = "Section"
		Id = dataItem.ProDoc_Section_Assignment_id;

        $.ajax({
            url: '@Url.Action("GetViewData", "Home")',
            type: 'post',
            dataType: 'json',
            data: {
				id: Id,
				templateVar: from
            },
            success: function (rs) {
				console.log(rs);
				if (rs.Count < 0) {
					alert("Not commented Yet!")
					return
				}
                $("#data-grid").kendoGrid({
                    dataSource: rs,
                    sortable: true,
                    pageable: false,
                    columns: [
                        { field: "Name", title: "Name" },
                        { field: "Reviewer_Datetime", title: "Date/Time" },
                        { field: "Status", title: "Status" },
                        { field: "Review_Comment", title: "Comment" },
                        { command: [{ name: "Difference", click: OpenDiffData }], width: "100px" }
                    ],
                    editable: false
                }).data("kendoGrid");
            },
            error: function (err) {
                alert(err);
            }
        });


        dataWnd = $("#k-dwnd").kendoWindow({
            width: 1000,
            title: "Details",
            visible: false,
            modal: true
        }).data("kendoWindow");

        dataWnd.center().open();
	}

	// window for activity view data
	function OpenActData(a) {

        var dataItem = this.dataItem($(a.currentTarget).closest("tr"));

		from = "Activity"
		Id = dataItem.ProDoc_Template_id;

        $.ajax({
            url: '@Url.Action("GetViewData", "Home")',
            type: 'post',
            dataType: 'json',
            data: {
				id: Id,
				templateVar: from
            },
			success: function (r) {
				console.log("View data window item length: ", r)
				console.log(r.Count);
				if (r.Count < 0) {
					alert("Not commented Yet!");
					return;
				}
                $("#diff-data-grid").kendoGrid({
                    dataSource: r,
                    sortable: true,
                    pageable: false,
                    columns: [
                        { field: "Name", title: "Name" },
                        { field: "Reviewer_Datetime", title: "Date/Time" },
                        { field: "Status", title: "Status" },
                        { field: "Review_Comment", title: "Comment" },
                        { command: [{ name: "Difference", click: OpenActDiffData }], width: "100px" }
                    ],
                    editable: false
                }).data("kendoGrid");
            },
            error: function (err) {
                alert(err);
            }
        });


        dataWnd = $("#k-diffwnd").kendoWindow({
            width: 1000,
            title: "Details",
            visible: false,
            modal: true
        }).data("kendoWindow");

        dataWnd.center().open();
	}

	// window for accept functionality for activity
	function AcceptActRecord(e) {

         wnd = $("#k-wnd").kendoWindow({
             width: 400,
             height: 150,
             title: "Comments",
             actions: ["Close"],
             visible: false,
             modal: true,
         }).data("kendoWindow");

        detailsTemplate = kendo.template($("#comment-template").html());

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        console.log("Accept: ", dataItem);

		Id = dataItem.ProDoc_Template_id;
		from = "Activity";
        Status = "S";
        template = dataItem.Template_Content;

        console.log("id + status: ", Id, Status);

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
	}

	// window for revert functionality for activity
	function RevertActRecord(e) {

		wnd = $("#k-wnd").kendoWindow({
             width: 500,
             height: 200,
             title: "Comments",
             actions: ["Close"],
             visible: false,
             modal: true,
         }).data("kendoWindow");

        detailsTemplate = kendo.template($("#comment-template").html());

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        console.log("Reject: ", dataItem);

		Id = dataItem.ProDoc_Template_id;
		from = "Activity";
        Status = "R";
        template = dataItem.Template_Content;

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

	// window for accept functionality in section
    function AcceptRecord(e) {
         wnd = $("#k-wnd").kendoWindow({
             width: 500,
             height: 200,
             title: "Comments",
             actions: ["Close"],
             visible: false,
             modal: true,
         }).data("kendoWindow");

        detailsTemplate = kendo.template($("#comment-template").html());

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        console.log("Accept: ", dataItem);

		Id = dataItem.ProDoc_Section_Assignment_id;
		from = "Section";
        Status = "S";
        template = dataItem.Template_Content;

        console.log("id + status: ", Id, Status);

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
	}

	//window for revert functionality for sections
	function RevertRecord(e) {
		wnd = $("#k-wnd").kendoWindow({
             width: 800,
             height: 500,
             title: "Comments",
             actions: ["Close"],
             visible: false,
             modal: true,
		}).data("kendoWindow");

        detailsTemplate = kendo.template($("#comment-template").html());

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        console.log("Reject: ", dataItem);

		Id = dataItem.ProDoc_Section_Assignment_id;
		from = "Section";
        Status = "R";
        template = dataItem.Template_Content;

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

	// accept or revert submit functionality
    function UpdateAcceptReject() {
        Comment = $("#comment").val();
        console.log("Update: ",Id, Status, Comment);

        $.ajax({
            url: '@Url.Action("UpdateAcceptReject", "Home")',
            type: 'post',
            dataType: 'json',
            data: {
                id: Id,
                status: Status,
                comment: Comment,
				recTemplate: template,
				templateVar: from
            },
            success: function (res) {
                alert(res.info);
                console.log("Success: ", res.info);
                wnd.center().close();

            },
            error: function (err) {
                alert("Error occured");
                console.log("Error: ",err);
                wnd.center().close();
            }
        });
    }

	// window for Difference button inside view data for activities
	function OpenActDiffData(ae) {

		diffActWnd = $("#k-dffwnd").kendoWindow({
			width: 800,
			height: 500,
			title: "Difference",
			visible: false,
			modal: true
		}).data("kendoWindow");

		diffActTemp = kendo.template($("#diff-act-template").html());

		var dItem = this.dataItem($(ae.currentTarget).closest("tr"));
		console.log("Diff: ", dItem);
		var aId = dItem.Review_Activity_Id;

		console.log("Difference: ", aId);

		$.ajax({
			url: '@Url.Action("GetDifferenceData", "Home")',
			type: 'post',
			data: {
				id: aId,
				templateVar: from
			},
			success: function (es) {
				console.log("Success: ", es);
				var objdiff = { diff: es };
				diffActWnd.content(diffActTemp(objdiff));
			},
			error: function (er) {
				console.log("Error: ", er);
			}
		})

		diffActWnd.center().open();
	}

	// window for Difference button inside view data for sections
	function OpenDiffData(od) {

		diffSecWnd = $("#k-dffwnd").kendoWindow({
			width: 800,
			height: 500,
			title: "Difference",
			visible: false,
			modal: true
		}).data("kendoWindow");

		diffSecTemplate = kendo.template($("#diff-sec-template").html());

		var dti = this.dataItem($(od.currentTarget).closest("tr"));
		console.log("Diff: ", dti);

		var	dId = dti.Review_Section_Id;

		console.log("Difference: ", dti);

		$.ajax({
			url: '@Url.Action("GetDifferenceData", "Home")',
			type: 'post',
			data: {
				id: dId,
				templateVar: from
			},
			success: function (es) {
				console.log("Success: ", es);
				var objdiff = { diff: es };
				diffSecWnd.content(diffSecTemplate(objdiff));
			},
			error: function (er) {
				console.log("Error: ", er);
			}
		})

		diffSecWnd.center().open();
	}

</script>

<script type="text/x-kendo-template" id="comment-template">
    <div id="section-comment">
        <input type="text" id="comment" class="form-control" />
    </div>

    <br />

    <input type="submit" class="btn btn-primary" value="Submit" onclick="UpdateAcceptReject()" />
</script>

<script type="text/x-kendo-template" id="viewdata-template">

</script>

<script type="text/x-kendo-template" id="diff-sec-template">
    @*<div id="data-grid"></div>*@
    <div class='content'>
        #= diff #
    </div>
</script>

<script type="text/x-kendo-template" id="diff-act-template">
    <div class='content'>
        #= diff #
    </div>
</script>


<div class="row">
    <br />

    <div class="col-sm-12 col-md-12">
        Activity
        <div id="act-grid"></div>
    </div>
    <br />
    </br>
    
    <div class="col-sm-12 col-md-12">
        Section
        <div id="grid"></div>
    </div>


    <div id="k-wnd"></div>

    <div id="k-dwnd">
        <div id="data-grid"></div>
    </div>

    <div id="k-diffwnd">
        <div id="diff-data-grid"></div>
    </div>

    <div id="k-dffwnd"></div>
</div>

