
@{
    ViewBag.Title = "Author Assignment";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/GeneralJscripts/TelerikScripts/jquery.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/jszip.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/kendo.all.min.js"></script>

<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet" />
<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.rtl.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.blueopal.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.blueopal.mobile.min.css" rel="stylesheet">


<style>
    div.k-edit-form-container {
        width: auto;
        height: auto;
    }

    .k-edit-label {
        width: 15% !important;
        text-align: left !important;
    }

    .k-edit-field {
        width: 80% !important;
    }

    .blue {
        background-color: #6495edb5;
    }

    .green {
        background-color: #98d0627a;
    }
     .orange {
        background-color: #ffa500a6;
    }
    .red {
        /*background-color:red;*/
        -webkit-animation: argh-my-eyes 1s infinite; /* Safari 4+ */
        -moz-animation: argh-my-eyes 1s infinite; /* Fx 5+ */
        -o-animation: argh-my-eyes 1s infinite; /* Opera 12+ */
        animation: argh-my-eyes 1s infinite; /* IE 10+, Fx 29+ */
    }

    @@-webkit-keyframes argh-my-eyes {
        0% {
            background-color: #fff;
        }

        49% {
            background-color: #fff;
        }

        50% {
            background-color: #ea5757;
        }

        99% {
            background-color: #ea5757;
        }

        100% {
            background-color: #fff;
        }
    }

    @@-moz-keyframes argh-my-eyes {
        0% {
            background-color: #fff;
        }

        49% {
            background-color: #fff;
        }

        50% {
            background-color: #ea5757;
        }

        99% {
            background-color: #ea5757;
        }

        100% {
            background-color: #fff;
        }
    }

    @@keyframes argh-my-eyes {
        0% {
            background-color: #fff;
        }

        49% {
            background-color: #fff;
        }

        50% {
            background-color: #ea5757;
        }

        99% {
            background-color: #ea5757;
        }

        100% {
            background-color: #fff;
        }
    }
</style>

<script>

    function editCheck1(container, options) {
        $('<input name="' + options.field + '" type="checkbox"/>')
            .attr('checked', options.model.status === 'A')
            .appendTo(container);
    }

    $(document).ready(function () {
        var datasource = new kendo.data.DataSource({
            schema: {
                total: "",
                model: {
                                        id: "pro_doc_template",

                    fields: {
                        pro_doc_template: { type: 'number', editable: false },

                        //document_template_id: { type: 'number', editable: false },
                        //product_document_mapping_id: { type: 'number', editable: false },
                        product_name: { type: 'string', editable: false },
                        document_name: { type: 'string', editable: false },
                        action: { type: 'string', editable: false },
                        aggred_timeline: { type: 'string', editable: false },
                        target_timeline: { type: 'string', editable: false },
                        comment: { type: 'string', editable: false },
                        status: { type: 'string', editable: false },
                                                progress: { type: 'string', editable: false },

                        template_content: { type: 'string', editable: true }
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetProDocTemplate", "Home")',
                    type: 'post',
                    dataType: 'json'
                },
               update: {
                    url: '@Url.Action("UpdateActivitySection", "Home")',
                    type: 'post',
                    dataType: 'json',
                    complete: function (e) {
                        alert(e.responseJSON.info);
                        reload();
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation != "read") {
                        return { models: options }
                    }
                }
            },
        });

        $("#grid").kendoGrid({
            dataSource: datasource,
            sortable: true,
            pageable: true,
            columns: [
                { field: "product_name", title: "Product Name" },
                { field: "document_name", title: "Document Name" },
                { field: "document_template_id", title: "Action Id" },
                { field: "action", title: "Action", width: "200px" },
                { field: "aggred_timeline", title: "Agreed Timeline",  width: "140px" },
                { field: "target_timeline", title: "Target Timeline",  width: "140px" },
                //{ field: "status", title: "Status" },
                { field: "status", title: "Status", template: '<a style="text-decoration: none;" class="#: progress==\"Late\"? \"red\" :  status==\"Reverted\"? \"red\" : status==\"Submitted\"? \"green\" : status==\"To be Review\"? \"orange\" :\"white\"#"">#=status#</a>' },

                { field: "template_content", title: "Template", encoded: false, editor: SectionEditor, width: "200px" },
                {
                    command: "edit", width: "100px"
                }
            ],
            editable: "popup",
            dataBound: function (e) {
                $("#grid tbody tr .k-grid-edit").each(function () {
                    var currentDataItem = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    //Check in the current dataItem if the row is editable
                    if (currentDataItem.status == "Submitted") {
                        $(this).remove();
                    }
                })
                //    $("#grid tbody tr").each(function () {
                //    var currentDataItem = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                //    //Check in the current dataItem if the row is editable
                //    if (currentDataItem.status == "Submitted") {
                //       // $(this).remove();
                //        $(this).addClass('green');
                //    }
                //})
            }
        });

        var secDatasource = new kendo.data.DataSource({
            schema: {
                total: "",
                model: {
                    id: "prodoc_section_assignment_id",
                    fields: {
                        product_name: { type: 'string', editable: false },
                        document_name: { type: 'string', editable: false },
                        section: { type: 'string', editable: false },
                        target_timeline: { type: 'string', editable: false },
                        status: { type: 'string', editable: false },
                        progress: { type: 'string', editable: false },

                        template_content: { type: 'string', editable: true },

                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetProDocSectionAssignmentByUser", "Home")',
                    type: 'post',
                    dataType: 'json'
                },
                update: {
                    url: '@Url.Action("UpdateSection", "Home")',
                    type: 'post',
                    dataType: 'json',
                    complete: function (e) {
                        alert(e.responseJSON.info);
                        reload();
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation != "read") {
                        return { models: options }
                    }
                }
            },
        });

        $("#section_assignments_grid").kendoGrid({
            dataSource: secDatasource,
            sortable: true,
            pageable: true,
            //edit: addSubmitButton,
            columns: [
                { field: "product_name", title: "Product Name" },
                { field: "document_name", title: "Document Name" },
                { field: "section", title: "Section", width: "150px" },

                { field: "target_timeline", title: "Target Date", width: "140px" },
                //{ field: "status", title: "Status" },
                                { field: "status", title: "Status", template: '<a style="text-decoration: none;"  class="#: progress==\"Late\"? \"red\" :  status==\"Reverted\"? \"red\" : status==\"Submitted\"? \"green\" : status==\"To be Review\"? \"orange\" :\"white\"#" )">#=status#</a>' },

                { field: "template_content", title: "Template Content", encoded: false, editor: SectionEditor, width: "400px" },

                {
                    command: {
                        name: "edit",
                        text: {
                            update: "Update",
                            cancel: "Cancel"
                        }
                    }, width: "100px"
                }
            ],
            editable: "popup",
            dataBound: function (e) {
                $("#section_assignments_grid tbody tr .k-grid-edit").each(function () {
                    var currentDataItem = $("#section_assignments_grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    //Check in the current dataItem if the row is editable
                    if (currentDataItem.status == "Submitted") {
                        $(this).remove();
                        //  $(this).addClass('blue');
                    }
                })
                //$("#section_assignments_grid tbody tr").each(function () {
                //    var currentDataItem = $("#section_assignments_grid").data("kendoGrid").dataItem($(this).closest("tr"));
                //    //Check in the current dataItem if the row is editable
                //    if (currentDataItem.status == "Submitted") {
                //        // $(this).remove();
                //        $(this).addClass('green');
                //    }
                //})
            },
        });

        function reload() {
            window.location.reload();
        }

        function addSubmitButton(e) {
            console.log("submitModel: ", e.model);
            var tempId = e.model.prodoc_section_assignment_id;
            var tempContent = e.model.template_content;
            console.log("values : ", tempId + " " + tempContent);
            $('<a class="k-button k-button-icontext k-grid-udpate custom-submit"><span class="k-icon k-grid-udpate"></span>Submit</a>').insertBefore(".k-grid-cancel");
            $(".custom-submit").click(function () {
                console.log("clicked")
                $.ajax({
                    url: '@Url.Action("SectionAssSubmit", "Home")',
                    data: {
                        models: JSON.parse(JSON.stringify({
                            prodoc_section_assignment_id: tempId,
                            template_content: tempContent
                        }))
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function () {
                        alert("succ");
                    },
                    error: function () {
                        alert("fail")
                    },
                });
            });
        };



        function SectionEditor(container, options) {
            //$('<textarea data-bind="value: ' + options.field + '" rows="4" cols="1000"></textarea>').appendTo(container);
            $('<textarea data-bind="value: ' + options.field + '" style="width: 100%;height:100%;" />').appendTo(container).kendoEditor({
                resizable: { content: true, toolbar: true },
                tools: [
                {
                    name: "fontName",
                    items: [
                        { text: "Andale Mono", value: "Andale Mono" },
                        { text: "Arial", value: "Arial" },
                        { text: "Arial Black", value: "Arial Black" },
                        { text: "Book Antiqua", value: "Book Antiqua" },
                        { text: "Calibri", value: "Calibri" },
                        { text: "Comic Sans MS", value: "Comic Sans MS" },
                        { text: "Courier New", value: "Courier New" },
                        { text: "Georgia", value: "Georgia" },
                        { text: "Helvetica", value: "Helvetica" },
                        { text: "Impact", value: "Impact" },
                        { text: "Symbol", value: "Symbol" },
                        { text: "Tahoma", value: "Tahoma" },
                        { text: "Terminal", value: "Terminal" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Verdana", value: "Verdana" },
                        { text: "Webdings", value: "Webdings" },
                        { text: "Wingdings", value: "Wingdings" }]
                },
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "insertImage",
                "insertFile",
                "subscript",
                "superscript",
                "tableWizard",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "viewHtml",
                "formatting",
                "cleanFormatting",
                "fontSize",
                "foreColor",
                "backColor",
                "print"
            ]
            });
        };
    });


</script>

<div >
    <br />
    <div class="col-sm-12 col-md-12 ">
        Activity Assigned
        <br />
        <div id="grid"></div>
    </div>
    <br />
    <div class="col-sm-12 col-md-12 ">
        Section Assigned

        <div id="section_assignments_grid"></div>

    </div>
    <br />

</div>

