@model AARTWeb.Models.LoginViewModel
@section styles {
    <link href='@Url.Content("~/Themes/css/aart_style.css")' rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>

    /*.form-control{max-width:400px;}*/

    .tpmns {
        margin: auto;
        display: table;
        width: 40%; 
        background: #fff;
        padding: 15px;
    }



        .tpmns h2 {
            font-size: 21px;
            font-weight: bold;
            color: #0f128dcc;
        }

        .chpswrd .col-md-2 {
            width: 100%;
        }
    /*.btn2 {
        background: #eb5627;
        width: 140px;
        padding: 10px;

        border-radius:5px;
    }
        .btn2 a {
            color: #fff !important;
        }*/

</style>

@*<h2>Change Password</h2>*@
<div class="btn2">
    @Html.ActionLink("Redirect To Home", "Login", "Account")
</div>


<div class="tpmns">
    <h2>Change Password</h2>
    <div class="row change-password-layout chpswrd">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            if (Model != null)
            {
                <div>
                    @if (Model.Warning != null)
                    {
                        if (Model.Warning)
                        {
                            <span class="text-danger">@Model.Message</span>
                        }
                    }
                </div>

                <div>
                    @if (Model.IsSuccess != null)
                    {
                        if (Model.IsSuccess)
                        {
                            <span class="text-success">@Model.Message</span>
                        }

                    }
                </div>
            }
            <div class="form-group">
                @Html.Label("Old Password", new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.Password("old-password", "", new { @class = "form-control", style = "margin-bottom:10px", @maxlength = "16", @minlength = "8" })
                    @if (ViewBag.Op != null && ViewBag.Op)
                    {
                        <span class="text-danger">@ViewBag.PasswordError</span>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.Label("New Password", new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.Password("new-password", "", new { @class = "form-control", style = "margin-bottom:10px", @maxlength = "16", @minlength = "8" })
                    @if (ViewBag.Np != null && ViewBag.Np)
                    {
                        <span class="text-danger">@ViewBag.NPasswordError</span>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Confirm Password", new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.Password("confirm-password", "", new { @class = "form-control", style = "margin-bottom:10px", @maxlength = "16", @minlength = "8" })
                    @if (ViewBag.Cp != null && ViewBag.Cp)
                    {
                        <span class="text-danger">@ViewBag.CPasswordError</span>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit"
                           value="Submit" class="btn btn-default com-btn" />
                </div>
            </div>
        }

    </div>
</div>

